<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<typeAliases>

	</typeAliases>

<!--<plugins>-->
    <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
        <!--<property name="helperDialect" value="mysql"/>-->
        <!--<property name="reasonable" value="true"/>-->
        <!--<property name="supportMethodsArguments" value="true"/>-->
        <!--<property name="params" value="countSql"/>-->
        <!--<property name="count" value="countSql"/>-->
        <!--<property name="autoRuntimeDialect" value="true"/>-->
	<!--</plugin> -->
<!--</plugins>-->


</configuration>